extends layout

block content
  include includes/navbar.pug
  .container.mt-5
    .row
      .col-md-6.col-sm-12.offset-md-3
        .card.border-primary
            .card-header #{milestone.title}
                .btn-group.float-right
                    a.btn.float-right.text-muted(href="#" onclick="history.go(-1)")
                        i.fas.fa-arrow-left.mr-2 
                        | Back
            .card-body
                strong Title
                p #{milestone.title}
                strong Description
                p #{milestone.description}
                strong Due Date
                p #{milestone.due_date}
                strong Completed
                if milestone.completeDate
                    p #{milestone.completeDate}
                else
                    p.text-muted 
                        i Not completed
                    
                

